In [1]:
! pip install requests pandas gspread

Requirement already satisfied: requests in /Users/serenayu/miniconda3/lib/python3.11/site-packages (2.31.0)
Requirement already satisfied: pandas in /Users/serenayu/miniconda3/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: gspread in /Users/serenayu/miniconda3/lib/python3.11/site-packages (6.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from requests) (2023.11.17)
Requirement already satisfied: numpy>=1.23.2 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: google-auth>=1.12.0 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from gspread) (2.30.0)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from gspread) (1.2.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (5.3.3)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (0.4.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from google-auth-oauthlib>=0.4.1->gspread) (2.0.0)
Requirement already satisfied: six>=1.5 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: pyasn1<0.7.0,>=0.4.6 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.6.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/serenayu/miniconda3/lib/python3.11/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)

In [2]:
from datetime import date, timedelta
import numpy as np
import pandas as pd
from tapdb import TapDBClient
from gsheets import DateSheet
from config import TAPDB_USER, TAPDB_PASS

target_date = (date.today() - timedelta(days=1)).isoformat()
target_date = '2024-06-28'

tapdb = TapDBClient(TAPDB_USER, TAPDB_PASS, target_date=target_date)

target_date = tapdb.target_date.isoformat()
sheet = DateSheet('[RP_CN] Revenue Report', date=target_date)

In [3]:
# [RP_CN] Revenue Report >> 活躍設備
sheet.change_sheet('Daily Re.')
data = tapdb.get_data('RP CN (PRO)', 'active', dim='os', device=True)

sheet.update_cells('活躍設備\n(tap db)', int(data['DAU_DEVICE'].sum()))
sheet.update_cells('活躍設備\n(android)', int(data.loc['Android', 'DAU_DEVICE']))
data

,key,DAU_DEVICE,newDAU_DEVICE,DAU_DEVICE2,DAU_DEVICE3,DAU_DEVICE7,DAU_DEVICE14,DAU_DEVICE30
key,,,,,,,,
Android,Android,37007,4472,32535,31025,27533,23763,18759
iOS,iOS,4866,3092,1774,762,619,579,415

In [4]:
# [RP_CN] Revenue Report >> 新增設備
sheet.change_sheet('Daily Re.')
data = tapdb.get_data('RP CN (PRO)', 'source', dim='os', device=True)
sheet.update_cells('新增設備\nTotal\n(Tap DB)', int(data['newDevices'].sum()))
sheet.update_cells('AND新設備\n(Tap DB)', int(data.loc['Android', 'newDevices']))
data

,key,newPlayers,totalCharge,totalChargeAmount,firstChargePlayers,firstChargeAmount,newDevices,convertedDevices,devicesConvertRate,dayRetainedRate1,dayRetainedRate7,chargeRate,firstChargeRate,ARPU,ARPPU
key,,,,,,,,,,,,,,,
Android,Android,5340,100,1576.9,54,439.2,4472,3930,87.88,33.74,None,2.24,1.21,0.10,8.13
iOS,iOS,971,22,267.7,9,20.4,3092,2835,91.69,50.79,None,0.71,0.29,0.01,2.27

In [5]:
# [RP_CN] Revenue Report >> 轉化率
data = tapdb.get_data('RP CN (PRO)', 'source', dim='ver')
row = data.loc[max(data.index)]

sheet.change_sheet('轉化率')
sheet.update_cells('版本', row['key'])
sheet.update_cells('新增設備', row['newDevices'])
sheet.update_cells('轉化設備', row['convertedDevices'])

data

,key,newPlayers,totalCharge,totalChargeAmount,firstChargePlayers,firstChargeAmount,newDevices,convertedDevices,devicesConvertRate,dayRetainedRate1,dayRetainedRate7,chargeRate,firstChargeRate,ARPU,ARPPU
key,,,,,,,,,,,,,,,
8.0.0.353,8.0.0.353,6311,122,1844.6,63,459.6,7216,6564,90.96,40.34,None,1.69,0.87,0.06,7.3
1.0.0.146,1.0.0.146,0,0,0.0,0,0.0,174,112,64.37,41.90,None,0.00,0.00,0.00,0.0
7.0.0.325,7.0.0.325,0,0,0.0,0,0.0,82,44,53.66,22.95,None,0.00,0.00,0.00,0.0
8.0.0.352,8.0.0.352,0,0,0.0,0,0.0,56,27,48.21,33.05,None,0.00,0.00,0.00,0.0
6.0.0.274,6.0.0.274,0,0,0.0,0,0.0,14,9,64.29,40.00,None,0.00,0.00,0.00,0.0
7.0.0.308,7.0.0.308,0,0,0.0,0,0.0,10,6,60.00,31.82,None,0.00,0.00,0.00,0.0
6.0.0.273,6.0.0.273,0,0,0.0,0,0.0,4,2,50.00,36.36,None,0.00,0.00,0.00,0.0
2.0.0.178,2.0.0.178,0,0,0.0,0,0.0,2,0,0.00,33.33,None,0.00,0.00,0.00,0.0
1.0.0.166,1.0.0.166,0,0,0.0,0,0.0,2,0,0.00,NaN,None,0.00,0.00,0.00,0.0
5.0.0.239,5.0.0.239,0,0,0.0,0,0.0,1,1,100.00,NaN,None,0.00,0.00,0.00,0.0
5.0.0.256,5.0.0.256,0,0,0.0,0,0.0,1,0,0.00,NaN,None,0.00,0.00,0.00,0.0
4.0.0.211,4.0.0.211,0,0,0.0,0,0.0,1,0,0.00,NaN,None,0.00,0.00,0.00,0.0
7.0.0.307,7.0.0.307,0,0,0.0,0,0.0,1,0,0.00,100.00,None,0.00,0.00,0.00,0.0

In [ ]:
# [RP_CN] Revenue Report >> 設備留存
data = tapdb.get_data('RP CN (PRO)', 'retain', begin_date='2024-04-01', pf='and', type='both')
data.sort_index(inplace=True)
data['key'] = data['key'].astype(str)
data_drr = data.loc[:, data.columns.str.contains('DRR')]
data = pd.concat([data.loc[:, ['newDevices']], data_drr / 100], axis=1)

data.to_csv('~/Desktop/retain.csv')
data

,newDevices,DRR1,DRR2,DRR3,DRR4,DRR5,DRR6,DRR7,DRR8,DRR9,...,DRR26,DRR27,DRR28,DRR29,DRR30,DRR60,DRR90,DRR120,DRR150,DRR180
key,,,,,,,,,,,,,,,,,,,,,
2024-04-01,3392,34.20,25.03,21.14,18.16,16.89,15.18,14.56,13.44,12.03,...,6.04,5.96,5.66,5.22,5.45,2.39,None,None,None,None
2024-04-02,3796,33.11,23.23,19.55,17.52,16.10,14.54,13.94,12.62,11.17,...,5.37,5.22,5.48,4.93,4.69,2.24,None,None,None,None
2024-04-03,6546,32.62,19.75,15.73,12.57,11.21,10.59,9.30,8.66,8.80,...,4.09,5.30,5.27,4.66,3.93,1.82,None,None,None,None
2024-04-04,10555,29.28,17.51,11.22,10.22,9.68,8.53,7.98,7.94,9.50,...,5.34,6.26,4.74,4.18,3.94,1.24,None,None,None,None
2024-04-05,8652,28.51,14.72,12.91,11.53,10.66,9.93,10.53,11.92,9.87,...,6.24,5.61,5.20,4.74,4.52,1.70,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-06-18,4007,36.21,24.48,21.24,18.22,16.50,14.97,9.58,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2024-06-19,3911,36.38,26.23,22.48,18.82,17.39,11.63,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2024-06-20,3888,35.83,23.95,20.32,17.46,10.93,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2024-06-21,4457,33.83,20.91,16.83,10.05,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2024-06-22,6097,32.54,19.22,12.02,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,None,None,None,None