In [1]:
import asyncio
from data_project.gsheets import DateSheet
from datetime import date, timedelta, datetime
import pandas as pd


target_date = (date.today() - timedelta(days=1))

async def create_sheet():
    return DateSheet('[RP_DMM] Revenue Report', date=target_date.isoformat())

task_sheet = asyncio.create_task(create_sheet())
await task_sheet
mysheet = task_sheet.result()

/Users/serenayu/Documents/data-project/data_project/gsheets.py:81: UserWarning: No columns named '日期' or 'date'.
  warnings.warn("No columns named '日期' or 'date'.")

In [2]:
# Change your sheet
mysheet.change_sheet("data", headers_row=2)
sheet = mysheet.worksheet

data = sheet.get_all_values()

# Assuming headers are in the second row (index 1)
headers = data[1]
data = data[2:]

# Create a DataFrame
df = pd.DataFrame(data, columns=headers)

# Filter rows where "Fan Leoi 1" column has the value "Bou Shek"
filtered_df = df[df['分類1'] == '不夜之城']

# Display the filtered DataFrame
print(filtered_df)

       Server         UID      Create Time Package ID      Package Name  \
11       1001  1001004732  18/4/2024 18:11       1166         コロネ石お得パック
37       1011  1011006846   2/6/2024 19:13       1166         コロネ石お得パック
56       1007  1007003598  26/4/2024 23:58       1171        星の羅針盤お得パック
57       1007  1007003598  26/4/2024 23:58       1171        星の羅針盤お得パック
59       1005  1005001574   22/4/2024 7:00       1167  SSR獣神の欠片 - セイレーン
...       ...         ...              ...        ...               ...
116272   1002  1002003747  18/4/2024 21:57       1456         コロネ石お得パック
116287   1010  1010000164   8/5/2024 21:13       1456         コロネ石お得パック
116307   1013  1013006958  26/7/2024 19:41       1456         コロネ石お得パック
116332   1013  1013002018    9/7/2024 1:08       1474        星の羅針盤お得パック
116374   1013  1013004604  17/7/2024 10:29       1474        星の羅針盤お得パック

         Package Type price    Purchase Time   分類1   分類2         USD  \
11      TreasureHouse   500   10/6/2024 0:07  不夜之城  活動禮包    3.184044
37      TreasureHouse   500   10/6/2024 0:24  不夜之城  活動禮包    3.184044
56      TreasureHouse  2400   10/6/2024 0:38  不夜之城  活動禮包  15.2834112
57      TreasureHouse  2400   10/6/2024 0:38  不夜之城  活動禮包  15.2834112
59      TreasureHouse  5000   10/6/2024 0:40  不夜之城  活動禮包    31.84044
...               ...   ...              ...   ...   ...         ...
116272  TreasureHouse   500  22/8/2024 21:35  不夜之城  活動禮包    3.419996
116287  TreasureHouse   500  22/8/2024 21:58  不夜之城  活動禮包    3.419996
116307  TreasureHouse   500  22/8/2024 22:14  不夜之城  活動禮包    3.419996
116332  TreasureHouse  2400  22/8/2024 22:37  不夜之城  活動禮包  16.4159808
116374  TreasureHouse  2400  22/8/2024 23:35  不夜之城  活動禮包  16.4159808

                                  Unique ID    Reg Date    PUR Date  \
11             TreasureHouse_1166_コロネ石お得パック  2024-04-18  2024-06-10
37             TreasureHouse_1166_コロネ石お得パック  2024-06-02  2024-06-10
56            TreasureHouse_1171_星の羅針盤お得パック  2024-04-26  2024-06-10
57            TreasureHouse_1171_星の羅針盤お得パック  2024-04-26  2024-06-10
59      TreasureHouse_1167_SSR獣神の欠片 - セイレーン  2024-04-22  2024-06-10
...                                     ...         ...         ...
116272         TreasureHouse_1456_コロネ石お得パック  2024-04-18  2024-08-22
116287         TreasureHouse_1456_コロネ石お得パック  2024-05-08  2024-08-22
116307         TreasureHouse_1456_コロネ石お得パック  2024-07-26  2024-08-22
116332        TreasureHouse_1474_星の羅針盤お得パック  2024-07-09  2024-08-22
116374        TreasureHouse_1474_星の羅針盤お得パック  2024-07-17  2024-08-22

          PUR Week  PUR MTH 購買距離註冊天數     UNI by PUR  USD by Day
11      2024-06-10  2024-06       53   0.3333333333   19.104264
37      2024-06-10  2024-06        8  0.06666666667  94.8845112
56      2024-06-10  2024-06       45  0.09090909091  187.858596
57      2024-06-10  2024-06       45  0.09090909091  187.858596
59      2024-06-10  2024-06       49            0.2  82.1483352
...            ...      ...      ...            ...         ...
116272  2024-08-19  2024-08      126   0.3333333333   5.4719936
116287  2024-08-19  2024-08      106   0.3333333333   5.4719936
116307  2024-08-19  2024-08       27   0.1666666667  67.0319216
116332  2024-08-19  2024-08       44   0.1428571429   54.719936
116374  2024-08-19  2024-08       36              1  16.4159808

[5817 rows x 19 columns]

In [ ]:
# select the target sheet
mysheet = DateSheet('nightless_city_test', date=target_date.isoformat())
mysheet.change_sheet('工作表1')
sheet = mysheet.worksheet
data = filtered_df.copy()
data = data.iloc[: 10]  # only update the first 10 rows

# define the relation of columns
column_names = {
    "userId": "userId",
    "serverPrefix": "serverPrefix",
    "Create Time": "CT",
}

# rename the col of data
data.columns = [column_names.get(c, c).lower() for c in data.columns]

# sort & filter columns
for header in mysheet.headers:
    if header not in data.columns:
        data.loc[:, header] = None
data = data[mysheet.headers]

# sort rows
# data['ct'] = data['ct'].str.replace(" ", "T").apply(datetime.fromisoformat)  # convert str into datetime
data.sort_values("ct", ascending=True, inplace=True)

# compute the cell to paste
cell = f"A{len(sheet.col_values(1)) + 1}"

# update the target sheet
sheet.update(cell, data.values.tolist())

In [6]:
filtered_df.merge?

Signature:
filtered_df.merge(
    right: 'DataFrame | Series',
    how: 'MergeHow' = 'inner',
    on: 'IndexLabel | AnyArrayLike | None' = None,
    left_on: 'IndexLabel | AnyArrayLike | None' = None,
    right_on: 'IndexLabel | AnyArrayLike | None' = None,
    left_index: 'bool' = False,
    right_index: 'bool' = False,
    sort: 'bool' = False,
    suffixes: 'Suffixes' = ('_x', '_y'),
    copy: 'bool | None' = None,
    indicator: 'str | bool' = False,
    validate: 'MergeValidate | None' = None,
) -> 'DataFrame'
Docstring:
Merge DataFrame or named Series objects with a database-style join.

A named Series object is treated as a DataFrame with a single named column.

The join is done on columns or indexes. If joining columns on
columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
on indexes or indexes on a column or columns, the index will be passed on.
When performing a cross merge, no column specifications to merge on are
allowed.

.. warning::

    If both key columns contain rows where the key is a null value, those
    rows will be matched against each other. This is different from usual SQL
    join behaviour and can lead to unexpected results.

Parameters
----------
right : DataFrame or named Series
    Object to merge with.
how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
    Type of merge to be performed.

    * left: use only keys from left frame, similar to a SQL left outer join;
      preserve key order.
    * right: use only keys from right frame, similar to a SQL right outer join;
      preserve key order.
    * outer: use union of keys from both frames, similar to a SQL full outer
      join; sort keys lexicographically.
    * inner: use intersection of keys from both frames, similar to a SQL inner
      join; preserve the order of the left keys.
    * cross: creates the cartesian product from both frames, preserves the order
      of the left keys.
on : label or list
    Column or index level names to join on. These must be found in both
    DataFrames. If `on` is None and not merging on indexes then this defaults
    to the intersection of the columns in both DataFrames.
left_on : label or list, or array-like
    Column or index level names to join on in the left DataFrame. Can also
    be an array or list of arrays of the length of the left DataFrame.
    These arrays are treated as if they are columns.
right_on : label or list, or array-like
    Column or index level names to join on in the right DataFrame. Can also
    be an array or list of arrays of the length of the right DataFrame.
    These arrays are treated as if they are columns.
left_index : bool, default False
    Use the index from the left DataFrame as the join key(s). If it is a
    MultiIndex, the number of keys in the other DataFrame (either the index
    or a number of columns) must match the number of levels.
right_index : bool, default False
    Use the index from the right DataFrame as the join key. Same caveats as
    left_index.
sort : bool, default False
    Sort the join keys lexicographically in the result DataFrame. If False,
    the order of the join keys depends on the join type (how keyword).
suffixes : list-like, default is ("_x", "_y")
    A length-2 sequence where each element is optionally a string
    indicating the suffix to add to overlapping column names in
    `left` and `right` respectively. Pass a value of `None` instead
    of a string to indicate that the column name from `left` or
    `right` should be left as-is, with no suffix. At least one of the
    values must not be None.
copy : bool, default True
    If False, avoid copy if possible.

    .. note::
        The `copy` keyword will change behavior in pandas 3.0.
        `Copy-on-Write
        <https://pandas.pydata.org/docs/dev/user_guide/copy_on_write.html>`__
        will be enabled by default, which means that all methods with a
        `copy` keyword will use a lazy copy mechanism to defer the copy and
        ignore the `copy` keyword. The `copy` keyword will be removed in a
        future version of pandas.

        You can already get the future behavior and improvements through
        enabling copy on write ``pd.options.mode.copy_on_write = True``
indicator : bool or str, default False
    If True, adds a column to the output DataFrame called "_merge" with
    information on the source of each row. The column can be given a different
    name by providing a string argument. The column will have a Categorical
    type with the value of "left_only" for observations whose merge key only
    appears in the left DataFrame, "right_only" for observations
    whose merge key only appears in the right DataFrame, and "both"
    if the observation's merge key is found in both DataFrames.

validate : str, optional
    If specified, checks if merge is of specified type.

    * "one_to_one" or "1:1": check if merge keys are unique in both
      left and right datasets.
    * "one_to_many" or "1:m": check if merge keys are unique in left
      dataset.
    * "many_to_one" or "m:1": check if merge keys are unique in right
      dataset.
    * "many_to_many" or "m:m": allowed, but does not result in checks.

Returns
-------
DataFrame
    A DataFrame of the two merged objects.

See Also
--------
merge_ordered : Merge with optional filling/interpolation.
merge_asof : Merge on nearest keys.
DataFrame.join : Similar method using indices.

Examples
--------
>>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [1, 2, 3, 5]})
>>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
...                     'value': [5, 6, 7, 8]})
>>> df1
    lkey value
0   foo      1
1   bar      2
2   baz      3
3   foo      5
>>> df2
    rkey value
0   foo      5
1   bar      6
2   baz      7
3   foo      8

Merge df1 and df2 on the lkey and rkey columns. The value columns have
the default suffixes, _x and _y, appended.

>>> df1.merge(df2, left_on='lkey', right_on='rkey')
  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  bar        2  bar        6
3  baz        3  baz        7
4  foo        5  foo        5
5  foo        5  foo        8

Merge DataFrames df1 and df2 with specified left and right suffixes
appended to any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey',
...           suffixes=('_left', '_right'))
  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
any overlapping columns.

>>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
Traceback (most recent call last):
...
ValueError: columns overlap but no suffix specified:
    Index(['value'], dtype='object')

>>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
>>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
>>> df1
      a  b
0   foo  1
1   bar  2
>>> df2
      a  c
0   foo  3
1   baz  4

>>> df1.merge(df2, how='inner', on='a')
      a  b  c
0   foo  1  3

>>> df1.merge(df2, how='left', on='a')
      a  b  c
0   foo  1  3.0
1   bar  2  NaN

>>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
>>> df2 = pd.DataFrame({'right': [7, 8]})
>>> df1
    left
0   foo
1   bar
>>> df2
    right
0   7
1   8

>>> df1.merge(df2, how='cross')
   left  right
0   foo      7
1   foo      8
2   bar      7
3   bar      8
File:      ~/miniconda3/lib/python3.11/site-packages/pandas/core/frame.py
Type:      method

In [8]:
df1 = pd.DataFrame([
    ['a', 'cn'],
    ['b', 'eu'],
], columns=['uid', 'country'])

df2 = pd.DataFrame([
    ['a', 0.99],
    ['a', 8],
    ['a', 12],
    #['b', 4]
], columns=['uid', 'price'])

print(df1)
print()
print(df2)

  uid country
0   a      cn
1   b      eu

  uid  price
0   a   0.99
1   a   8.00
2   a  12.00

In [11]:
df1.merge(df2, how='left', on='uid').fillna(0)

  uid country  price
0   a      cn   0.99
1   a      cn   8.00
2   a      cn  12.00
3   b      eu   0.00

In [13]:
df3 = pd.concat([df1, df2])
df3

  uid country  price
0   a      cn    NaN
1   b      eu    NaN
0   a     NaN   0.99
1   a     NaN   8.00
2   a     NaN  12.00